In [2]:
# Q-1 sol:

# i:
a = "Anurag"
# ii:
b = [1,2.99,3j,"Hello"]
# iii:
c = 33.98
# iv:
d = ('anurag','pareek')

In [ ]:
# Q-2 sol:

# i: String data type
# ii: String data type
# iii: List data type
# iv: Float data type

In [ ]:
# Q-3 sol:

# i : Used for doing floor division
# ii : Used for finding the remainder
# iii : Used for integer division
# iv : Used for finding exponent

In [3]:
# Q-4 sol:

list_1 = [1,9,7,99.87,"anurag","Hello",9+4j,('a',2),22,"abc"]
for i in list_1:
    print(i,"   ->   ",type(i))

1    ->    <class 'int'>
9    ->    <class 'int'>
7    ->    <class 'int'>
99.87    ->    <class 'float'>
anurag    ->    <class 'str'>
Hello    ->    <class 'str'>
(9+4j)    ->    <class 'complex'>
('a', 2)    ->    <class 'tuple'>
22    ->    <class 'int'>
abc    ->    <class 'str'>

In [2]:
# Q-5 sol:

a = int(input())
b = int(input())
count = 0
while a%b==0:
    a = a//b
    count += 1 
print(count)

8
2
3

In [4]:
# Q-6 sol:

list_2 = list(range(1,31))
for i in list_2:
    if i%3 == 0:
        print(i,"<- Divisible by 3")
    else:
        print(i,"<- Not divisible by 3")

1 <- Not divisible by 3
2 <- Not divisible by 3
3 <- Divisible by 3
4 <- Not divisible by 3
5 <- Not divisible by 3
6 <- Divisible by 3
7 <- Not divisible by 3
8 <- Not divisible by 3
9 <- Divisible by 3
10 <- Not divisible by 3
11 <- Not divisible by 3
12 <- Divisible by 3
13 <- Not divisible by 3
14 <- Not divisible by 3
15 <- Divisible by 3
16 <- Not divisible by 3
17 <- Not divisible by 3
18 <- Divisible by 3
19 <- Not divisible by 3
20 <- Not divisible by 3
21 <- Divisible by 3
22 <- Not divisible by 3
23 <- Not divisible by 3
24 <- Divisible by 3
25 <- Not divisible by 3
26 <- Not divisible by 3
27 <- Divisible by 3
28 <- Not divisible by 3
29 <- Not divisible by 3
30 <- Divisible by 3

In [8]:
# Q-7 sol:

# Mutable data type: The data type whose value could be changed in place at particular index.
# Example:
s = "Hello World"
s[2] = "e" # <- Will give error
print(s)
# Immutable data type : The data type whose value could not be changed in place at particular index.
t = [1,2,3]
t[1] = 3
print(t)

Hello World
[1, 3, 3]