# MYSQL:

In [ ]:
# Q-1 sol:


"""
Database:
A database is a structured collection of data that is organized and stored in
a computer system. It provides a way to store, manage, and retrieve data efficiently.

SQL databases:

Follow a relational data model.
Have predefined schemas and enforce data consistency.
Use SQL as the standard query language.
Traditionally scale vertically, though horizontal scaling is possible.
Well-suited for applications with complex relationships and structured data.

NoSQL databases:

Utilize various data models (key-value, document, columnar, graph).
Allow flexible and schema-less data storage.
Provide different query languages/interfaces based on the data model.
Designed for horizontal scalability and handling large data volumes.
Suitable for dynamic data structures, unstructured data, and high scalability needs.
"""

In [ ]:
# Q-2 sol:

"""
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language)
used to define and manage the structure of a database, including tables, constraints,
indexes, and other database objects. DDL statements are used to create, modify, and delete 
database objects.

CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas.

DROP: The DROP statement is used to remove or delete existing database objects.

ALTER: The ALTER statement is used to modify the structure of existing database 
       objects, such as adding or dropping columns, modifying constraints, or renaming 
       objects.

TRUNCATE: The TRUNCATE statement is used to remove all data from a table while 
          keeping the table structure intact. It is a faster alternative to the DELETE 
          statement when you want to remove all rows from a table.

The examples are given below:
"""

# CREATE:
CREATE TABLE Customers(
    id INT PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(100)
    );

# DROP:
DROP TABLE Customers;

# ALTER:
ALTER TABLE Customers
ADD COLUMN phone VARCHAR(20);

# TRUNCATE:
ALTER TABLE Customers
ADD COLUMN phone VARCHAR(20);

In [ ]:
# Q-3 sol:

"""
DML stands for Data Manipulation Language. It is a subset of SQL
(Structured Query Language) used to manipulate the data within a
database. DML statements are used to insert, update, and delete 
data in database tables.
"""
# INSERT: The INSERT statement is used to add new rows of data into a table:eg-
INSERT INTO Customers (id, name, email)
VALUES (1, 'John Smith', 'john@example.com');
# UPDATE: The UPDATE statement is used to modify existing data in a table:eg-
UPDATE Customers
SET email = 'newemail@example.com'
WHERE id = 1;
# DELETE: The DELETE statement is used to remove rows of data from a table.
DELETE FROM Customers
WHERE id = 1;

In [ ]:
# Q-4 sol:

"""
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language)
used to retrieve data from a database. DQL statements, particularly the SELECT statement,
are used to query and fetch specific data from one or more database tables.

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database.
It allows you to specify the columns you want to retrieve, apply filtering conditions,
perform calculations, join tables, and more.
"""
# Example:
SELECT id, name, email
FROM Customers

In [3]:
# Q-5 sol:

"""
Primary Key: 
A primary key is a unique identifier for each row in a table. 
It ensures uniqueness and non-nullability of values and often serves as a reference
for establishing relationships between tables.

Foreign Key: 
A foreign key is a column that references the primary key of another table. It maintains
referential integrity by ensuring that values in the foreign key column match the primary
key values in the referenced table. It establishes relationships between tables and helps
maintain data consistency.
"""

'\nPrimary Key: \nA primary key is a unique identifier for each row in a table. \nIt ensures uniqueness and non-nullability of values and often serves as a reference\nfor establishing relationships between tables.\n\nForeign Key: \nA foreign key is a column that references the primary key of another table. It maintains\nreferential integrity by ensuring that values in the foreign key column match the primary\nkey values in the referenced table. It establishes relationships between tables and helps\nmaintain data consistency.\n'

In [5]:
# Q-6 sol:

"""
cursor() method: 
This method creates a cursor object that allows you to execute SQL 
queries and fetch the results. The cursor acts as a control structure
to navigate and interact with the database.
execute() method: 
This method is used to execute SQL queries through the cursor.
"""
import mysql.connector
MyDatabase = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'A1nurag_P16areek'
)
MyCursor = MyDatabase.cursor()
# Creating database
MyCursor.execute("CREATE DATABASE if not exists database_3")
MyDatabase.close()

In [6]:
# Q-7 sol:

"""
In a standard SQL query, the clauses are executed in the following order:
FROM
JOIN
WHERE
GROUP BY
HAVING
SELECT
DISTINCT
ORDER BY
LIMIT/OFFSET
"""

'\nIn a standard SQL query, the clauses are executed in the following order:\nFROM\nJOIN\nWHERE\nGROUP BY\nHAVING\nSELECT\nDISTINCT\nORDER BY\nLIMIT/OFFSET\n'